<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/c8e4d183c2.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.cdnfonts.com/css/nexa-bold" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <img class="logo" src="../logo.png" height="60px" />
      <div class="nav-container">
        <div class="hamburger" id="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar" id="navbar">
          <li>
            <a href="#/">Home</a>
          </li>
          <li>
            <a href="#/favorite">Favorite</a>
          </li>
          <li>
            <a href="#/about">About Us</a>
          </li>
          <li>
            <a href="#/login">
              <button>Login</button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="app"></div>

    <footer>
      <!--paragraph-->
      <p>Contact me through the Social Media below:</p>
      <!--social-->
      <div class="social-icons">
        <a href="08877246401"><i class="fa fa-whatsapp"></i></a>
        <a href="https://www.instagram.com/fathurr.ra/"
          ><i class="fa fa-instagram"></i
        ></a>
        <a href="https://www.linkedin.com/in/fathurrahman-al-hafid-a21a7a246/"
          ><i class="fa fa-linkedin"></i
        ></a>
        <a
          href="https://mobile.facebook.com/fathur.rahman.99?eav=AfbnUJluA5KNpgxe8BdZQ-LFK5xBt5Sx2W-FFYvYczT8Lrx7qMxeRL8lmubGwOCPPV0&paipv=0"
          ><i class="fa fa-facebook"></i
        ></a>
      </div>
      <!--copyright-->
      <p class="copyright">Copyright by Fathurrahman Al Hafid 2024</p>
    </footer>
  </body>
</html>
